#links{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
#links li {
	float: left;	
}

#links li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
    color: #666;
}
		
#links li a:hover {
	background-color: darkgray;	
}
#header {
	background-color:#122894;
	color:white;
	text-align:center;
	padding:5px;
}
#footer{
	text-align:center;
	width:100%;
}
